extends ../layout

block content
    //div(id="bookModal" class="modal fade" role="dialog" tabindex="-1")
    div.model-dialog(role="dialog")
        div(class="modal-content")
            div(class="modal-header")
                h3.modal-title #{book.title} Details
            div(class="modal-body")
                dl.row
                    dt(class="col-sm-4 text-right") Title:
                    dd(class="col-sm-8") #{book.title}
                    dt(class="col-sm-4 text-right") Author:
                    dd(class="col-sm-8") #{book.author}
                    dt(class="col-sm-4 text-right") Publisher:
                    dd(class="col-sm-8") #{book.publisher}
                    dt(class="col-sm-4 text-right") Publication Date:
                    dd(class="col-sm-8") #{book.publicationDate}
                    dt(class="col-sm-4 text-right") Cost:
                    dd(class="col-sm-8") $ #{book.price}
                    dt(class="col-sm-4 text-right") Genre:
                    dd(class="col-sm-8") #{book.genre}
                    dt(class="col-sm-4 text-right") Format: 
                    dd(class="col-sm-8") #{book.format}
                    dt(class="col-sm-4 text-right") ISBN:
                    dd(class="col-sm-8") #{book.isbn}
            div(class="modal-footer")
                button(type="button"  data-dismiss="modal" class="btn btn-default") Close
